 /* ============
    GLOBAL
   ============ */
html, body {
  height: 100%;
  width: 100%;
}

a {
  color: hsl(191, 97%, 77%);
  text-decoration: none;
}

a:hover,
a:visited:hover {
  color: hsl(326, 100%, 74%);
  text-decoration: underline;
}

a:active,
a:visited:active {
  color: hsl(0, 100%, 67%);
}

a:visited {
  color: hsl(265, 89%, 78%);
}

/* =============
    TAG STYLES
   ============= */
main {
  background-color: hsl(232, 14%, 31%);
  position: relative;
  flex-grow: 1;
  color: hsl(60, 30%, 96%);
}

h1 span {
  color: hsl(65, 92%, 76%);
}

p span {
  color: hsl(0, 100%, 67%);
}

nav {
  height: 100%;
}

i {
  font-size: 2.5rem;
}

p i {
  font-size: 1.5rem;
}


figcaption {
  padding-top: .5rem;
}

footer {
  font-size: .8rem;
  color: hsl(60, 30%, 96%);
  position: absolute;
  bottom: 0;
  right: 0;
}


/* ==============
    CLASS STYLES
   ============== */

/* row wrapper */
.row {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* lefthand panel */
.panel {
  position:  absolute;
  left: 0;
  height: 100%;
  max-width: 70px;
  z-index: 3;
  background-color: hsl(232, 15%, 18%);
  padding: 0;
}

.navbar-nav i {
  color: hsl(265, 89%, 78%);
  transition: color .4s;
}

.navbar-nav i:hover {
  color: hsl(326, 100%, 74%); 
}

.projects-button {
  color: hsl(0, 100%, 67%);
  transition: .4s;
}

.projects-button:hover {
  color: hsl(0, 100%, 77%);
}

.flexparent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.desk-intro {
  padding-left: 70px;
  padding-top: 10px;
}

.desk-intro img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  border: 5px solid hsl(65, 92%, 76%);
}

/* blur overlay for project menu */
.overlay {
  display: none;
  backdrop-filter: blur(6px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: hsla(0, 100%, 0%, 0.35);
}

/* project menu  */
.projects-button {
  position: absolute;
  bottom: 2px;
  display: flex;
  flex-direction: row;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 70px;
  margin: 0 auto;
}

.project-wrapper figure {
  margin: 0 auto;
  margin-bottom: 2rem;
  animation: in-and-up;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  transform: translate(0%, 25%);
  color: hsl(60, 30%, 96%);
  text-align: center;
}

.project-wrapper figure img {
  max-height: 450px;
  max-width: 650px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.project-wrapper figure img:hover {
  box-shadow: 0 0 15px hsla(0, 100%, 67%, 0.5);
  animation: image-hover;
  animation-timing-function: ease-in-out;
  animation-duration: .15s;
}

.fa-external-link-alt {
  font-size: 1rem;
}

/* ==============
    ANIMATIONS
   ============== */

/* project image zoom in and scale up */
@keyframes in-and-up {
  from {
    transform: scale(0);
    transform: translate(-800%, 2000%);
    
  }
  to {
    transform: scale(1.0);
    transform: translate(0%, 25%);
    
  }
}

/*hsl(0, 100%, 67%)*/
@keyframes image-hover {
  from {
    box-shadow: 0 0 0px hsla(0, 100%, 67%, 0.0);
  }
  to {
    box-shadow: 0 0 15px hsla(0, 100%, 67%, 0.5);
  }
}

/* ================
    MEDIA QUERIES
   ================ 
*/

@media (min-width: 1850px) {

  .project-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}